// Variables
$main_orange: #f04124
$darker_orange: darken($main_orange, 10%)

// Main navigation
#main_nav 
	background: $main_orange

.right-small
	border-left: solid 1px $darker_orange

.right-off-canvas-menu
	min-height: 300px
	background: $main_orange
	ul.off-canvas-list li 
		label
			color: #eee
			background: $darker_orange
		a
			border-bottom: 1px solid $darker_orange


