// Variables
$main_orange: #f04124
$darker_orange: darken($main_orange, 10%)
$blue: #0092C9

// General
.linkedin_login
	background: url(../images/li.svg) $blue no-repeat
	padding: 10px 10px 10px 50px
	margin: 0 20px
	border-radius: 5px
	display: block
	margin-top: 20px
	color: #fff
	&:hover
		color: #fff
		background: url(../images/li.svg) darken($blue, 10%) no-repeat

.splash
	background: $main_orange
	min-height: 100%
	h1
		margin-top: 50px
		color: #fff
		font-size: 300%
		font-weight: bold
		text-align: center


.splash_profile_image
	margin-top: 30px
	width: 100%
	height: 250px
	background-size: cover

.container
	margin: 0 5%
	width: 90%
	&.modal
		text-align: center
		h3
			margin-top: 30px
		.button-group 
			& > li:last-child
				float: right

// Main navigation
#main_nav 
	background: $main_orange

.right-small
	border-left: solid 1px $darker_orange

.right-off-canvas-menu
	min-height: 300px
	background: $main_orange
	ul.off-canvas-list li 
		label
			color: #eee
			background: $darker_orange
		a
			border-bottom: 1px solid $darker_orange


