<section class="main-section container modal">
  <div style="background-image: url(<%= @profile_image %>);" class="splash_profile_image"></div>
  <h3>Select your role</h3>
  <ul class="button-group [radius round]">
    <li><a href="job_profile.html" class="button [secondary alert success]">Job Seeker</a></li>
    <li><a href="seeker_profile.html" class="button [secondary alert success]">Employer</a></li>
  </ul>
</section>