<section class="main-section container modal">
  <div style="background-image: url(<%= @profile_image %>);" class="splash_profile_image"></div>
  <h3>Select your role</h3>
  <ul class="button-group [radius round]">
    <li><%= link_to "Job Seeker", users_create_job_seeker_path, role: :job_seeker, class: 'button [secondary alert success]' %></li>
    <li><%= link_to "Recruiter", users_new_recruiter_path, role: :recruiter, class: 'button [secondary alert success]' %></li>
  </ul>
</section>