    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <section class="main-section">
          <h1>Jobz</h1>
          
          <%= render "devise/shared/links" %>
        </section>

      </div>
    </div>
 

